# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

# General
indent_size = 4
indent_style = space
tab_width = 4
end_of_line = lf
insert_final_newline = true

## Code style

dotnet_style_qualification_for_event = false:silent
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_property = false:silent
csharp_style_conditional_delegate_call = true:suggestion
csharp_prefer_static_local_function = true:suggestion


## Compiler and IDE warnings

# Useless rules
dotnet_diagnostic.CS1591.severity = none # Missing XML comment on public member
dotnet_diagnostic.RCS1001.severity = none # Add braces to if statement (when expression spans over multiple lines).
dotnet_diagnostic.RCS1090.severity = none # Add call to 'ConfigureAwait'.
dotnet_diagnostic.RCS1194.severity = none # Implement exception constructors.
dotnet_diagnostic.RCS1139.severity = none # Add summary element to documentation comment.
dotnet_diagnostic.xUnit1004.severity = none # Test methods should not be skipped.

# Mostly style, should be up to the author
dotnet_diagnostic.RCS1021.severity = none # Use expression-bodied lambda.
dotnet_diagnostic.RCS1224.severity = none # Make method an extension method.
dotnet_diagnostic.RCS1080.severity = none # Use 'Count' property instead of 'Any' method.
dotnet_diagnostic.IDE0066.severity = none # Use 'switch' expression.
dotnet_diagnostic.RCS1180.severity = none # Inline lazy initialization.
dotnet_diagnostic.RCS1123.severity = none # Add parentheses when necessary.

# Code style rules.
# These are mostly useful but disabled to reduce clutter in warnings.
dotnet_diagnostic.RCS1037.severity = none # Remove trailing white-space.
dotnet_diagnostic.RCS1036.severity = none # Remove redundant empty line.
dotnet_diagnostic.RCS1232.severity = none # Order elements in documentation comment.
dotnet_diagnostic.RCS1209.severity = none # Order type parameter constraints.
dotnet_diagnostic.RCS1196.severity = none # Call extension method as instance method.
dotnet_diagnostic.RCS1205.severity = none # Order named arguments according to the order of parameters.
dotnet_diagnostic.IDE0063.severity = none # 'using' statement can be simplified
